<div class="container">
  <h1 class="text-center">
    Edit Your Profile
  </h1>

  <%= render 'form' %>
  <p class="text-center">
    <%= link_to 'Cancel and return to profile', user_path(@user) %>
  </p>



</div>