<div class="container">
  <h1 class="text-center">
    <%= @user.username %>'s profile
  </h1>
  <h6 class="text-center">
    Joined 
    <%= time_ago_in_words(@user.created_at) %>
    ago
  </h6>

</div>