<% if obj.errors.any? %>
  <div class="alert alert-danger">
    <h3 class="alert-heading">Submission failed. Here's what went wrong:</h3>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>


  <% end %>
