<div class="home-background">
  <h1 class="home-header">Get the things that you want.</h1>
  <br>
  <p class="home-paragraph">
    WishList lets you save, track, and review all the things you care about.
  </p>
  <p class="home-paragraph">
    Try it out for free.
  </p>

  <button class="btn btn-success btn-lg home-button">Sign Up</button>
  <button class="btn home-button explore">
    <a href="/products" style="color: rgb(85, 85, 85); text-decoration:none;"
      >Explore Products</a
    >
  </button>
</div>