<h1>Products Index Page</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Seller</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td>$<%= sprintf("%.2f", product.price / 100) %></td>
      <td><%= product.seller %></td>
      <td>Placeholder</td>
    </tr>
    <% end %>
  </tbody>
</table>